.wp-toolbar{
	display:none;
}

.contentparty-body {
	background: #fff
}

.contentparty-body .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contentparty-body #lucy_box {
	line-height: 24px;
}

.contentparty-body #lucy_box iframe {
	width: 100%;
}

.contentparty-body, .contentparty-body input, .contentparty-body select,
	.contentparty-body textarea {
	font-family: Arial, '微軟正黑體', MingLiu;
	font-size: 12px
}

.contentparty-body header {
	margin: 0 auto auto 0;
	max-width: 1024px;
	width: 100%
}

.contentparty-body header>h1 {
	padding: 0 1em;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
	font-weight: 700;
	font-size: 1.3333em;
	line-height: 3em;
	height: 3em;
	color: #434a54
}

.contentparty-body .m-input {
	position: relative;
	margin: 0 3em .5em 0;
	padding: .5em 0;
	border: 1px solid #d5d5d5;
	background: #f9f9f9;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .m-input.is-readonly {
	background-color: #eee
}

.contentparty-body .m-input.is-readonly>input, .contentparty-body .m-input.is-readonly {
	opacity: 0.5;
	filter: alpha(opacity = 40); /* msie */
}

.contentparty-body .m-input.is-readonly>textarea {
	height: 10.5em
}

.contentparty-body .m-input>input, .m-input>textarea {
	border: 0;
	padding: 0 1em;
	background: none transparent;
	vertical-align: middle;
	line-height: 1.5em;
	width: 100%;
	height: 1.5em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.contentparty-body .m-input>textarea {
	height: 6em
}

.contentparty-body .m-button {
	cursor: pointer;
	position: relative;
	border: 0;
	background: #33414e;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-weight: 700;
	text-align: center;
	line-height: 2.5em;
	height: 2.5em;
	width: 100%;
	color: #fff;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .m-section {
	position: relative;
	padding: 0 0 2em 14.5%
}

.contentparty-body .m-section>label {
	position: absolute;
	padding: 0 0.25em;
	font-weight: 700;
	top: .8em;
	right: 85.5%
}

.contentparty-body .m-section .b-info {
	font-weight: 700;
	color: #b0b9c6
}

.contentparty-body .l-content {
	margin: 0 auto auto 0;
	max-width: 1024px;
	width: 100%
}

.contentparty-body .l-content .m-advance .m-advance-left {
	padding: 2em 0 0;
	width: 67.1875%;
	float: left
}

.contentparty-body .l-content .m-advance .m-advance-right {
	padding: 2em 0 0;
	width: 32.8125%;
	float: right;
	min-height: 34.35em;
	border-left: 1px solid #e3e3e3;
	background: url(../img/advance-bg.png?1443354792);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.contentparty-body .l-content .m-advance .m-advance-right .m-category {
	margin: 0 2em 3em
}

.contentparty-body .l-content .m-advance .m-advance-right .m-tag-area {
	margin: 0 2em 3em
}

.contentparty-body .l-content .m-advance .m-advance-right .m-thumb-box {
	margin: 0 2em 3em
}

.contentparty-body .l-content .m-advance .m-advance-right .m-date-box {
	margin: 0 2em 3em
}

.contentparty-body .l-content .m-advance .m-advance-right .m-import {
	margin: 0 2em 1em;
	padding: 0 0 2em;
}

.contentparty-body .l-content .m-advance .m-advance-right h3 {
	line-height: 1em;
	margin: 0 0 .75em;
	font-weight: 700;
	color: #33414e
}

.contentparty-body .l-content .m-advance .m-advance-bottom {
	border-top: 1px solid #e3e3e3;
	background-color: #f5f5f5;
	clear: both
}

.contentparty-body .l-content .m-advance .m-advance-bottom .m-submit {
	margin: 1em;
	width: 10em;
	overflow: hidden;
	float: right;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .l-content .m-advance .m-advance-bottom .m-submit .m-button
	{
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	width: 50%;
	float: left
}

.contentparty-body .l-content .m-advance .m-advance-bottom .m-cancel {
	margin: 0 1em;
	padding: 1em 0;
	width: 5em
}

.contentparty-body .l-content .m-advance .m-advance-bottom .m-cancel .m-button {
	background: #fff;
	color: #333;
	border: 1px solid #e3e3e3
}

.contentparty-body .l-content .m-advance:after {
	content: '';
	display: block;
	clear: both
}

.contentparty-body .m-select {
	position: relative;
	border: 1px solid #ddd;
	background: #fff;
	height: 2.5em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;
	z-index: 1
}

.contentparty-body .m-select:after {
	content: '';
	position: absolute;
	margin: -2px 0 0;
	border-top: 4px solid #777;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	top: 50%;
	right: 1em
}

.contentparty-body .m-select.is-active {
	background-color: #f5f5f5;
	-moz-box-shadow: inset -.2em .2em .5em rgba(192, 192, 192, 0.3);
	-webkit-box-shadow: inset -.2em .2em .5em rgba(192, 192, 192, 0.3);
	box-shadow: inset -.2em .2em .5em rgba(192, 192, 192, 0.3)
}

.contentparty-body .m-select.is-active>ul {
	display: block
}

.contentparty-body .m-select>select {
	display: none
}

.contentparty-body .m-select>label {
	position: absolute;
	padding: .5em 0;
	display: block;
	white-space: nowrap;
	text-indent: 1em;
	line-height: 1.5em;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}

.contentparty-body .m-select>ul {
	position: absolute;
	border: 1px solid #e9e9e9;
	border-top: 0;
	background-color: #fff;
	display: none;
	overflow: auto;
	max-height: 12.3334em;
	width: 100%;
	top: 2.5em;
	left: -1px;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .m-select>ul>li {
	border-top: 1px solid #e9e9e9;
	white-space: nowrap;
	text-indent: 1em;
	line-height: 3em
}

.contentparty-body .m-tag-box {
	position: relative;
	padding: .25em .25em 0;
	border: 1px solid #ddd;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .m-tag-import-box {
	background: #f9f9f9;
	min-height: 30px;
	position: relative;
	margin: 1em 3em .5em 0;
	padding: .25em .25em 0;
	border: 1px solid #ddd;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em
}

.contentparty-body .m-tag-box:after {
	content: '';
	display: block;
	clear: both
}

.contentparty-body .m-tag-box .m-tag, .contentparty-body .m-tag-import-box .m-tag{
	position: relative;
	margin: 0 .25em .25em 0;
	padding: 0 1em 0 2em;
	background: #33414e;
	display: inline-block;
	font-weight: 700;
	color: #fff;
	line-height: 2em;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	border-radius: .25em;
	cursor: pointer;
}

.contentparty-body .m-tag-import-box .m-tag.m-import-tag{
	padding: 0 1em 0 1em;
}

.contentparty-body .m-tag-import-box .m-import-tag.imported{
	opacity: 0.5;
}

.contentparty-body .m-tag-box .m-tag .m-icon.is-close {
	position: absolute;
	background: none;
	margin-top: -.5em;
	width: 1em;
	height: 1em;
	left: .5em;
	top: 50%;
	cursor: pointer;
}

.contentparty-body .m-tag-box .m-tag .m-icon.is-close:before,
	.contentparty-body .m-tag-box .m-tag .m-icon.is-close:after {
	content: '';
	position: absolute;
	margin: -.1875em 0 0 -.5em;
	background-color: #8b939a;
	left: 50%;
	top: 50%;
	width: 1em;
	height: .375em;
	-moz-border-radius: .1875em;
	-webkit-border-radius: .1875em;
	border-radius: .1875em
}

.contentparty-body .m-tag-box .m-tag .m-icon.is-close:before {
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg)
}

.contentparty-body .m-tag-box .m-tag .m-icon.is-close:after {
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg)
}

.contentparty-body .m-tag-box .m-tag-labels {
	display: inline;
	letter-spacing: 0
}

.contentparty-body .m-tag-box .m-tag-add {
	padding: 0;
	border: 0;
	background: none transparent;
	font-weight: 700;
	text-indent: .5em;
	line-height: 2em;
	width: 5em;
	color: #33414e;
	outline: none;
	outline-style:none;
	box-shadow:none;
	border-color:transparent;
}

.contentparty-body .m-tag-box .m-tag-add:-moz-placeholder {
	color: #597085;
	opacity: 1
}

.contentparty-body .m-tag-box .m-tag-add::-moz-placeholder {
	color: #597085;
	opacity: 1
}

.contentparty-body .m-tag-box .m-tag-add::-webkit-input-placeholder {
	color: #597085;
}

.contentparty-body .m-tag-box .m-tag-add:-ms-input-placeholder {
	color: #597085;
}

.contentparty-body .m-tag-box .m-tag-button {
	position: absolute;
	background: #33414e;
	width: 1.25em;
	height: 1.25em;
	right: 0;
	top: -2.25em;
	cursor: pointer;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}

.contentparty-body .m-tag-box .m-tag-button:before, .contentparty-body .m-tag-box .m-tag-button:after
	{
	content: '';
	position: absolute;
	background-color: #fff;
	left: 50%;
	top: 50%
}

.contentparty-body .m-tag-box .m-tag-button:before {
	margin: -.28125em 0 0 -.09375em;
	width: .1875em;
	height: .5625em
}

.contentparty-body .m-tag-box .m-tag-button:after {
	margin: -.09375em 0 0 -.28125em;
	width: .5625em;
	height: .1875em
}

.contentparty-body .m-thumb {
	padding: .5em;
	background: rgba(255, 255, 255, 0.3);
	display: inline-block;
	max-width: 100%;
	height: auto;
	min-height: 5em;
}

.contentparty-body .m-thumb img {
	max-height: 100%;
	max-width: 100%;
	border: .25em solid #fff;
	-moz-box-shadow: .25em .25em .25em rgba(192, 192, 192, 0.3);
	-webkit-box-shadow: .25em .25em .25em rgba(192, 192, 192, 0.3);
	box-shadow: .25em .25em .25em rgba(192, 192, 192, 0.3);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.contentparty-body .m-date-box {
	position: relative
}

.contentparty-body .m-date-box .m-input {
	border: 1px solid #ddd;
	background: #fff;
	-moz-border-radius: .5em 0 0 .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em 0 0 .5em
}

.contentparty-body .m-date-box .m-button {
	position: absolute;
	padding: 1px 0;
	width: 3em;
	right: 0;
	bottom: 0;
	-moz-border-radius: 0 .5em .5em 0;
	-webkit-border-radius: 0;
	border-radius: 0 .5em .5em 0
}

.contentparty-body .m-icon {
	background: url(../img/advance-icon.png?1443352896) no-repeat;
	background-size: auto 100%;
	display: inline-block;
	height: 1em;
	width: 1em
}

.contentparty-body .m-icon.is-calendar {
	background-position: 0 50%
}

.contentparty-body .m-icon.is-upload {
	background-position: 100% 50%;
}

.contentparty-body #draft-button {
	cursor: pointer;
}