.contentparty-body {
	background:#f1f1f1;
	font-size:12px;
	color:#666;
	/* font-family:Arial,  '',  MingLiu; */
}

.contentparty-body input,
.contentparty-body button,
.contentparty-body select,
.contentparty-body textarea {
	font-size:12px;
}

.contentparty-body a {
	text-decoration:none;
	color:#00b7e1;
}

.contentparty-body a:hover {
	text-decoration:underline;
}

.contentparty-body .m-icon {
	position:relative;
	background:url('../img/icons.png?1443354273') no-repeat;
	background-size:auto 100%;
	display:inline-block;
	vertical-align:middle;
	width:1em;
	height:1em;
}

.contentparty-body .m-icon.is-search-white {
	background-position:0% 50%;
}

.contentparty-body .m-icon.is-search {
	background-position:25% 50%;
}

.contentparty-body .m-icon.is-link {
	background-position:50% 50%;
}

.contentparty-body .m-icon.is-gear {
	background-position:75% 50%;
}

.contentparty-body .m-icon.is-floppy {
	background-position:100% 50%;
}

.contentparty-body .m-icon.is-close {
	background-image:none;
}

.contentparty-body .m-icon.is-close:before, .m-icon.is-close:after {
	content:'';
	position:absolute;
	margin:-.1875em 0 0 -.5em;
	background-color:#333;
	left:50%;
	top:50%;
	width:1em;
	height:.1875em;
	-moz-border-radius:0.1875em;
	-webkit-border-radius:0.1875em;
	border-radius:0.1875em;
}

.contentparty-body .m-icon.is-close:before {
	-moz-transform:rotateZ(45deg);
	-ms-transform:rotateZ(45deg);
	-webkit-transform:rotateZ(45deg);
	transform:rotateZ(45deg);
}

.contentparty-body .m-icon.is-close:after {
	-moz-transform:rotateZ(-45deg);
	-ms-transform:rotateZ(-45deg);
	-webkit-transform:rotateZ(-45deg);
	transform:rotateZ(-45deg);
}

.contentparty-body .m-input {
	position:relative;
	border:1px solid #ddd;
	height:2.5em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.contentparty-body .m-input>input {
	position:absolute;
	padding:0;
	border:0;
	background:#fff;
	text-indent:1em;
	width:100%;
	height:100%;
}

.contentparty-body .m-button {
	cursor: pointer;
	position:relative;
	border:0;
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
	text-align:center;
	line-height:2.5em;
	height:2.5em;
	width:100%;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	border-radius:0.5em;
}

.contentparty-body .m-button:hover {
	text-decoration:none;
}

.contentparty-body .m-button.is-water {
	background:#00b7e1;
	color:#fff;
}

.contentparty-body .m-button.is-black {
	background:#000;
	color:#fff;
}

.contentparty-body .m-button.is-batch {
	cursor: pointer;
	min-width: 100px;
	width:6%;
	padding: 1px 1px;
}


.contentparty-body .m-button.is-white {
	background:#fff;
	color:#333;
}

.contentparty-body .m-button.is-gray {
	background:#e3e3e3;
	color:#666;
}

.contentparty-body .m-navbar {
	padding:1em 0;
	font-size:1.5em;
}

.contentparty-body .m-navbar>ul {
	margin-left:-.5em;
}

.contentparty-body .m-navbar>ul>li {
	padding:0 .5em;
	border-right:1px solid #99a0aa;
	font-weight:bold;
	line-height:1em;
	float:left;
}

.contentparty-body .m-navbar>ul>li:last-child {
	border-right:0;
}

.contentparty-body .m-navbar>ul>li.is-curr>a {
	color:#434a54;
}

.contentparty-body .m-navbar>ul>li>a {
	color:#99a0aa;
	text-decoration:none;
}

.contentparty-body .m-source>dl {
	position:relative;
	margin:2em 0 0;
}

.contentparty-body .m-source>dl>dt {
	position:absolute;
	font-size:1.25em;
	font-weight:bold;
	color:#333;
	line-height:2em;
	width:10em;
}

.contentparty-body .m-source>dl>dd {
	padding:0 0 .5em 10em;
	font-size:1.25em;
}

.contentparty-body .m-source>dl>dd .m-label {
	font-size:.8667em;
	cursor:pointer;
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more,
.contentparty-body .m-source>dl>dd .m-souce-new-more {
	display:inline;
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more.is-active .m-label,
.contentparty-body .m-source>dl>dd .m-souce-new-more.is-active .m-label {
	display:inline-block;
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more.is-active .m-label-more:before,
.contentparty-body .m-source>dl>dd .m-souce-new-more.is-active .m-label-more:before {
	content:'更少';
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more .m-label, .m-source>dl>dd .m-souce-new-more .m-label {
	display:none;
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more .m-label-more, .m-source>dl>dd .m-souce-new-more .m-label-more {
	display:inline-block;
}

.contentparty-body .m-source>dl>dd .m-souce-hot-more .m-label-more:before,
.contentparty-body .m-source>dl>dd .m-souce-new-more .m-label-more:before {
	content:'更多';
}

.contentparty-body .m-source .m-source-clear {
	margin:0 0 0 1em;
	display:inline-block;
	font-weight:bold;
	color:#30404f;
	cursor:pointer;
}

.contentparty-body .m-breadcrumb {
	padding:1.4em 0 0;
	font-size:1.25em;
	color:#99a0aa;
}

.contentparty-body .m-breadcrumb>a {
	color:#99a0aa;
}

.contentparty-body .m-breadcrumb>a:hover {
	text-decoration:none;
}

.contentparty-body .m-breadcrumb .is-bold {
	font-weight:bold;
	color:#30404f;
}

.contentparty-body .m-topic {
	padding-top:2em;
}

.contentparty-body .m-topic th {
	padding-left:1.5em;
}

.contentparty-body .m-topic ul>li {
	border-bottom:1px solid #e5e5e5;
}

.contentparty-body .m-topic ul>li:last-child {
	border-bottom:0;
}

.contentparty-body .m-topic ul>li>span {
	font-weight:bold;
	text-align:center;
	display:inline-block;
	width:6em;
	color:#434a54;
}

.contentparty-body .m-topic ul>li .m-label {
	margin:7px 0;
}

.contentparty-body .m-topic ul>li .m-label:hover {
	text-decoration:none;
}

.contentparty-body .m-label {
	margin:0 0 .5em;
	padding:.5em 1em;
	border:2px solid #aaa;
	background:#fff;
	display:inline-block;
	font-weight:bold;
	color:#30404f;
	max-width:20em;
	white-space:nowrap;
	text-overflow:ellipsis;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
}

.contentparty-body .m-label .m-icon.is-close {
	margin:0 0 0 .25em;
	display:none;
}

.contentparty-body .m-label.is-active {
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
}

.contentparty-body .m-label.is-active .m-icon.is-close {
	display:inline-block;
}

.contentparty-body .m-label.m-label-more {
	border:2px solid #2d3c4b;
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
}

.contentparty-body .m-searchbar {
	margin:2em 0;
	width:37em;
	float:right;
}

.contentparty-body .m-searchbar .m-button, .m-searchbar .m-input {
	font-size:1.0833em;
	font-size:1em;
	float:left;
}

.contentparty-body .m-searchbar .m-button {
	line-height:2.3077em;
	height:2.3077em;
	width:15%;
	-moz-border-radius:0 0.5em 0.5em 0;
	-webkit-border-radius:0;
	border-radius:0 0.5em 0.5em 0;
}

.contentparty-body .m-searchbar .m-input {
	line-height:2.3077em;
	height:2.3077em;
	width:75%;
}

.contentparty-body .m-searchbar>a.m-button {
	line-height:2.3077em;
	height:2.3077em;
	width:8%;
	-moz-border-radius:0.5em 0 0 0.5em;
	-webkit-border-radius:0.5em;
	border-radius:0.5em 0 0 0.5em;
}

.contentparty-body .m-hr {
	margin:0;
	padding:0;
	border:0;
	border-bottom:1px solid #ddd;
	overflow:hidden;
	display:block;
	height:0;
	width:auto;
}

.contentparty-body .m-tab {
	margin:2em 0;
	float:left;
}

.contentparty-body .m-tab:after {
	content:'';
	display:block;
	clear:both;
}

.contentparty-body .m-tab>ul {
	border:1px solid #ddd;
	overflow:hidden;
	-moz-border-radius:0.3em;
	-webkit-border-radius:0.3em;
	border-radius:0.3em;
}

.contentparty-body .m-tab>ul>li {
	border-right:1px solid #ddd;
	background:#fff;
	font-size:1.0833em;
	line-height:2.1538em;
	float:left;
}

.contentparty-body .m-tab>ul>li:last-child {
	border-right:0;
}

.contentparty-body .m-tab>ul>li.is-curr>a,
.contentparty-body .m-tab>ul>li.is-curr>a:hover {
	background:#f5f5f5;
}

.contentparty-body .m-tab>ul>li>a {
	padding:0 1em;
	display:block;
	color:#333;
}

.contentparty-body .m-tab>ul>li>a:hover {
	text-decoration:none;
	background:#def;
}

.contentparty-body .l-header {
	padding:2em;
}

.contentparty-body .l-header>h1 {
	margin:0 0 1em;
	font-size:1.6667em;
	font-weight:bold;
	color:#444;
}

.contentparty-body .l-content {
	padding:0 2em;
}

.contentparty-body .m-help {
	padding:0 2em;
}

.contentparty-body .m-help .m-ins {
	position:relative;
	border:1px solid #ddd;
	border-top:0;
	overflow:hidden;
	background:#f5fbfd;
	height:0;
	-moz-transition:height 1s;
	-o-transition:height 1s;
	-webkit-transition:height 1s;
	transition:height 1s;
}

.contentparty-body .m-help .m-ins.is-active {
	height:14.6667em;
}

.contentparty-body .m-help .m-ins.is-list-1 .is-list-1,
.contentparty-body .m-help .m-ins.is-list-2 .is-list-2,
.contentparty-body .m-help .m-ins.is-list-3 .is-list-3,
.contentparty-body .m-help .m-ins.is-list-4 .is-list-4,
.contentparty-body .m-help .m-ins.is-list-5 .is-list-5 {
	background:#f5fbfd;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:2px solid #00a1d5;
	z-index:1;
	-moz-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow:0 2px 2px rgba(0, 0, 0, 0.1);
}

.contentparty-body .m-help .m-ins.is-list-1 .is-list-1:before,
.contentparty-body .m-help .m-ins.is-list-2 .is-list-2:before,
.contentparty-body .m-help .m-ins.is-list-3 .is-list-3:before,
.contentparty-body .m-help .m-ins.is-list-4 .is-list-4:before,
.contentparty-body .m-help .m-ins.is-list-5 .is-list-5:before {
	content:'';
	position:absolute;
	background:#f5fbfd;
	width:1px;
	height:100%;
	right:-1px;
	top:0;
}

.contentparty-body .m-help .m-ins.is-list-1 .is-list-1>a,
.contentparty-body .m-help .m-ins.is-list-2 .is-list-2>a,
.contentparty-body .m-help .m-ins.is-list-3 .is-list-3>a,
.contentparty-body .m-help .m-ins.is-list-4 .is-list-4>a,
.contentparty-body .m-help .m-ins.is-list-5 .is-list-5>a {
	color:#444;
	cursor:default;
}

.contentparty-body .m-help .m-ins.is-list-1 .is-block-1,
.contentparty-body .m-help .m-ins.is-list-2 .is-block-2,
.contentparty-body .m-help .m-ins.is-list-3 .is-block-3,
.contentparty-body .m-help .m-ins.is-list-4 .is-block-4,
.contentparty-body .m-help .m-ins.is-list-5 .is-block-5 {
	z-index:1;
	filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	-moz-transition:all 0.7s 0.3s;
	-o-transition:all 0.7s 0.3s;
	-webkit-transition:all 0.7s;
	-webkit-transition-delay:0.3s;
	transition:all 0.7s 0.3s;
}

.contentparty-body .m-help .m-ins .m-sidenav {
	position:absolute;
	border-right:1px solid #ddd;
	background:#fff;
	left:0;
	top:0;
	width:12.5833em;
	height:100%;
	z-index:2;
}

.contentparty-body .m-help .m-ins .m-sidenav>ul {
	margin:1em 0 0;
	padding:1px 0 0;
}

.contentparty-body .m-help .m-ins .m-sidenav>ul>li {
	position:relative;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	border-left:2px solid #fff;
	line-height:2.3333em;
	z-index:0;
}

.contentparty-body .m-help .m-ins .m-sidenav>ul>li>a {
	padding:0 0 0 1em;
	font-weight:bold;
	display:block;
	text-decoration:none;
	color:#5e73ac;
}

.contentparty-body .m-help .m-ins .m-block {
	position:absolute;
	padding:1em 1em 1em 13.5833em;
	font-weight:bold;
	line-height:1.5em;
	color:#444;
	top:0;
	left:0;
	height:100%;
	z-index:0;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-moz-transition:all 0.7s;
	-o-transition:all 0.7s;
	-webkit-transition:all 0.7s;
	transition:all 0.7s;
}

.contentparty-body .m-help .m-ins .m-block>ul>li {
	margin:0 0 0 1em;
	list-style-type:disc;
}

.contentparty-body .m-help .m-topnav {
	font-size:1.0833em;
	float:right;
}

.contentparty-body .m-help .m-topnav>a {
	margin:0 0 0 .5em;
	padding:.5em 1em;
	border:1px solid #ddd;
	border-top:0;
	background:#fff;
	font-weight:bold;
	color:#777;
	float:left;
}

.contentparty-body .m-help .m-topnav>a:hover {
	text-decoration:none;
}

.contentparty-body .m-table {
	margin:0 auto 5em;
	clear:both;
	width:100%;
	max-width:100%;
}

.contentparty-body .m-table>table {
	width:100%;
}

.contentparty-body .m-table>table tr {
	border-bottom:1px solid #e5e5e5;
}

.contentparty-body .m-table>table tr:last-child {
	border-bottom:0;
}

.contentparty-body .m-table>table th {
	background:#e8e8e8;
	font-size:1.6667em;
	font-weight:bold;
	text-align:left;
	white-space:nowrap;
	vertical-align:middle;
	height:2.5em;
	color:#333;
}

.contentparty-body .m-table>table td {
	background:#fff;
	vertical-align:middle;
	white-space:nowrap;
	font-size:1.0833em;
	height:2.6923em;
	color:#333;
}

.contentparty-body .m-table>table .is-center {
	text-align:center;
	margin:0 auto;
}

.contentparty-body .m-table>table .is-elli {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.contentparty-body .m-table>table .is-elli.is-40em {
	max-width:40em;
}

.contentparty-body .m-table>table .is-elli.is-10em {
	max-width:10em;
}

.contentparty-body .datatable-action-btn {
	border:1px solid #afafaf;
	display:inline-block;
	width:2em;
	line-height:1.5385em;
	height:1.5385em;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.contentparty-body .m-table>table .m-act .m-button {
	border:1px solid #afafaf;
	display:inline-block;
	width:2em;
	line-height:1.5385em;
	height:1.5385em;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.contentparty-body .m-table>table .m-bat {
	font-size:1em;
	padding:0 1em;
	height:3.85em;
}

.contentparty-body .m-table>table .m-bat .m-button {
	padding:0 1em;
	width:auto;
	display:inline-block;
}

.contentparty-body .m-table>table .m-pagination {
	padding-right:1em;
	font-size:1em;
	height:3.85em;
}

.contentparty-body .m-table>table .m-pagination .m-button {
	padding:0 1em;
	width:auto;
	display:inline-block;
}

.contentparty-body .m-table>table .m-pagination .m-page-sel {
	float:right;
}

.contentparty-body .m-table>table .m-pagination .m-page-sel .m-input {
	margin:0 1em;
	display:inline-block;
	vertical-align:middle;
	width:4em;
}

.contentparty-body .m-table>table .m-pagination .m-page-sel .m-input>input {
	text-indent:0;
	text-align:center;
}